/* .ripple-effect {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
}
.ripple-effect .ripple {
    display: block;
    position: absolute;
    border-radius: 100%;
    background: rgba(171, 167, 167, 0.65) !important;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
}
.ripple-effect .animated {
    -webkit-animation: ripple 0.6s linear;
            animation: ripple 0.6s linear;
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}
@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
} */
/* .ant-table [vt] > table > .ant-table-tbody > tr > td {
    padding: 8px;
} */

.ant-form-item {
    margin-bottom: 0 !important;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
    font-size: 14px !important;
}
.ant-layout-sider .ant-menu-item {
    height: 40px !important;
}
.ant-tabs .ant-tabs-large-bar .ant-tabs-nav-container{
    font-size: 14px !important;
}
.layout-content .breadcrumb > span{
    font-size: 14px !important;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: calc(100% - 1px) !important;
}
.ant-table-small > .ant-table-content > .ant-table-body{
    margin: 0 !important;
}
.ant-table-small > .ant-table-content > .ant-table-body .ant-table-thead {
    background-color: rgba(0,0,0,0.01) !important;
}
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body{
    /* 去除表格底部一条线留白问题 */
    overflow-x: auto !important;
}
/* web_client->queue_live->queue_panel的样式，start */
.on-context-menu{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 166px; */
    border-left: 1px solid #f6f7fa;
    border-right: 1px solid #f6f7fa;
    border-top: 1px solid #f6f7fa;
    background: #fff ;
    color: #EAEDF3;
    border-radius: 4px;
    box-shadow:0px 1px 0px 0px rgba(234,237,243,1);
    z-index: 9;
}
.on-context-menu .queue-panel-waiting-mene > li,.on-context-menu .queue-panel-menu > li{
    border-bottom: 1px solid #f6f7fa;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.on-context-menu .queue-panel-menu > li .ant-menu-submenu-title{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.queue_panel_item_group{
    border: 1px solid #f6f7fa;
    color: #3E3F42;
    border-radius: 4px;
    box-shadow:0px 1px 0px 0px rgba(234,237,243,1);
}
.queue_panel_item_group .ant-menu-item-group-title{
    padding: 0 !important;
}
.queue_panel_item_group .ant-menu-item-group-list .ant-menu-item{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #f6f7fa;
}
.queue_panel_item_group .ant-menu-item-group-list .ant-menu-item:last-child{
    border-bottom: none;
}
/* web_client->queue_live->queue_panel的样式，end */
.extension-pop .ant-popover-inner-content{
    padding: 0;
}
.extension-pop .ant-popover-inner-content .ant-card{
    box-shadow: none;
}

.search-input .closeIcon{
    color: #000;
    opacity: 0.24;
    font-size: 16px;
}

.common-flex {
    display: flex !important;
    align-items: center;
}

.common-flexItem {
    flex: 1
}

.common-ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.common-ellipsis-line {
    display: -webkit-box;
    white-space: normal;
    word-break: break-word;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
    -webkit-box-orient: vertical;
}

/*右键菜单*/
.common-right-menu {
    font-size: 12px;
}

.common-right-menu-item {
    display: flex !important;
    align-items: center;
}

.common-right-menu-icon {
    font-size: 16px;
    margin-right: 8px;
}

.ant-dropdown-menu-item-disabled .common-right-menu-item {
    cursor: not-allowed;
    color: #E9E9E9 !important;
}

.common-right-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-disabled {
    background: transparent !important;
}

.favorite-icon-active {
    font-size: 16px;
    color: #FFCB00 !important;
}

.favorite-icon {
    font-size: 16px;
    color: #3D4A59 !important;
}

.orgBreadcrumb {
    padding-left: 24px;
    margin-bottom: 16px;
}

.orgBreadcrumb a:hover {
    color: #0081CC;
}